*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: #fff;
}

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 3rem 1rem;
}

/* The h1 is styled with a margin of 0 to get rid of the default top and bottom margin */
h1{
    margin: 0 0 0 5rem;
    color: #f9faf8;
    
}

nav{
    margin: 0 5rem 0 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2em;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

a:visited{
    color: #e5e7eb;
}

.hero{
    background-color: #1f2937;
    padding: 3rem 1rem;
    display: flex;
    justify-content: space-between;
}

.hero-text{
    width: 500px;
    margin: 0 0 0 5rem;
    font-size: 18px;
    color: #e5e7eb;
} 

h2{
    font-size: 48px;g
    font-weight: 700;
    color: #f9faf8;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: #1f2937;
}

figure{
    margin: 0;
    padding: 0 5rem 0 0;
}