*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: #000;
}

 body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

header{
    background-color: #d4dbba;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
}

/* The h1 is styled with a margin of 0 to get rid of the default top and bottom margin */
h1{
    margin: 0;
    padding-left: 5rem;
}

.navbar-links{
    padding: 1rem;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

a{
    text-decoration: none;
    color: #000;
}

a:visited{
    color: white;
}
