*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    color: #fff;
}

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

header{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 3rem 1rem;
}

/* The h1 is styled with a margin of 0 to get rid of the default top and bottom margin */
h1{
    margin: 0 0 0 5rem;
    color: #f9faf8;
    
}

nav{
    margin: 0 5rem 0 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2em;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

a:visited{
    color: #e5e7eb;
}

.hero{
    background-color: #1f2937;
    padding: 3rem 1rem;
    display: flex;
    justify-content: space-between;
}

.hero-text{
    width: 500px;
    margin: 0 0 0 5rem;
    font-size: 18px;
    color: #e5e7eb;
} 

h2{
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
    margin: 0;
}

button{
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    border: #1f2937;
}

figure{
    margin: 0;
    padding: 0 5rem 0 0;
}
.product-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    margin: 3rem;
}

.product-header{
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    margin: 0;
    text-align: center;
}

.cards{
    display: flex;
    color: #3d3d3d;
    justify-content: space-around;
    width: 1000px;
    margin: 1rem auto;
}

.info-image{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.info{
    width: 200px;
    text-align: center;
}

/* The remainder of the cards will have a width of 1000px until the footer section. */

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem 1rem 4rem;
    height: 300px;
}

.quote-text{
    width: 1000px;
    color: #1f2937;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.quote-author{
    color: #1f2937;
    font-weight: 700;
    width: 1000px;
    display: flex;
    justify-content: flex-end;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.call-to-action-container{
    background-color: #3882F6;
    width: 1000px;
    padding: 4rem 2rem;
    margin: 2rem 3rem;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
}
.call-to-action-text{
    margin: 0;
    width: 500px;
}

h3{
    margin: 0;
    font-size: 24px;
}

.call-to-action-button{
    border: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

footer{
    background-color: #1f2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
}